* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #d5e1ef;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-qr {
    display: flex;
    width: 25rem;
    height: 35rem;
    border-radius: 1rem;
    background-color: white;
}